/Lista3ExercicioA/dist/
/LerExibir/nbproject/private/
/LerExibir/build/
/LerExibir/dist/
/Exercicio3C/nbproject/private/
/Exercicio3C/build/
/Exercico4A/nbproject/private/
/Exercico4A/build/
/Exercicio4B/nbproject/private/
/Exercicio4B/build/
/Exercicio4C/nbproject/private/
/Exercicio4C/build/
/Exrercicio4C2/nbproject/private/
/Exrercicio4C2/build/
/NIvel4Exercicio1A/nbproject/private/
/NIvel4Exercicio1A/build/